<%- include("templates/header") %> 
    log in
    <form action='/loggingin' method='post'>
    <input name='email' type='email' placeholder='email' required>
    <input name='password' type='password' placeholder='password' required>
    <button>Submit</button>
    </form>
<%- include("templates/footer") %> 