<%- include("templates/header") %> 
    <h1>Welcome to the Memebers Page, <%= username %>!</h1>
    <div class="container">
    <img src='/Lion-cat-cutest-cat.gif'>
    <img src='/scared.gif'>
    <img src='/kitty-cat-sandwich.gif'2>
    </div>
    <br>
    <a href='/logout'>Logout</a> <br>
<%- include("templates/footer") %> 